<div>
  <label>
    <input [(ngModel)]="this.url" placeholder="Paste your youtube url here" />
  </label>
  <button (click)="onClick(url)">Confirm</button>
  <button (click)="addToBookmarks(url)">Add to bookmarks</button>
</div>

<div *ngIf="clicked">
  <app-video-component [url]="okToRefresh ? url : oldUrl"></app-video-component>
</div>
<div *ngIf="!clicked">
  <img src="../../../assets/rectangle.jpg" />
</div>
