<ul class="heroes">
  <div *ngFor="let video of videos">
    <li>
      <span class="badge">...............</span>
    </li>
    <app-video-component [url]="video.url"></app-video-component>
  </div>
</ul>
