<h1>Welcome to the youtube player app</h1>
<nav>
  <a routerLink="/history">History</a>
</nav>
<nav>
  <a routerLink="/bookmarks">Bookmarks</a>
</nav>
<nav>
  <a routerLink="/watch">Watch new videos</a>
</nav>
<router-outlet></router-outlet>
